[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-cosmos = "*"
python-dotenv = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
